.app {
  min-height: 100vh;
  font-size: 13px;
  font-family: 'Quicksand', monospace, sans-serif;
}

#content {
  overflow: hidden;
  justify-content: center;
  align-items: center;
  display: flex;
  min-height: 100vh;
}

@media only screen and (max-width: 600px) {
  .app {
    font-size: 10px;
  }
}