.nav {
  width: 140px;
  z-index: 1;
  position: fixed;
  right: 0;
  top: 0;

  ul {
    list-style: none;
    width: 100%;
    padding: 0;
    margin-top: 60px;
    display: flex;
    flex-direction: column;

    li {
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        text-decoration: none;
        span {
          color: cornflowerblue;
        }
      }

      a:hover span, a.active span {
        color: lightseagreen;
      }
    }
  }
}

// @media only screen and (max-width: 600px) {
//   .nav {
//     background-color: lightblue;
//     left: 0;
//     right: 0;
//     top: 0;
//     width: 100%;

//     ul {
//       flex-direction: row;
//       margin-top: 20px;

//       li {
//         height: unset;
//         padding: 0px 20px;
//       }
//     }
//   }
// }

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 4.6em;
  height: 4.6em;
  right: 2.6em;
  top: 2.6em;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  z-index: 2000
}

/* General sidebar styles */
.bm-menu {
  background: white;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
  color: cornflowerblue;
  text-decoration: none;
  margin-bottom: 1.5em;
  font-size: 1.3em;

  &.active {
    color: lightseagreen;
  }
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}