.nav {
  width: 140px;
  z-index: 1;
  position: fixed;
  right: 0;
  top: 0;

  ul {
    list-style: none;
    width: 100%;
    padding: 0;
    margin-top: 60px;
    display: flex;
    flex-direction: column;

    li {
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        text-decoration: none;
        span {
          color: cornflowerblue;
        }
      }

      a:hover span, a.active span {
        color: lightseagreen;
      }
    }
  }
}
