.photography {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: lightgoldenrodyellow;
  border-radius: 4px;
  color: black;

  >div {
    width: 100%;
  }
}

.photo {
  height: 90%;
  width: 100%;
  object-fit: cover;
}

.photo-caption {
  margin: auto;
}

.photo-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.image {
  opacity: 0;
  transition: opacity 1s;
}

.image-loaded {
  opacity: 1;
}
