  .landing-page {
    display: flex;
    justify-content: flex-start ;
    align-items: center;
    background: white;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    z-index: -1;
    position: absolute;
  }

  .me-image {
    height: 100vh;
  }

  @media only screen and (max-width: 600px) {
    .me-image {
      object-fit: cover;
      width: 100vw;
    }
  }