.contact {
  display: inline-block;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.85);
  padding: 30px 200px 30px 60px;
  box-sizing: border-box;
  animation: fadein 2s;
  color: white;

  a {
    line-height: 2.2em;
    color: white;
  }

  // ul {
  //   list-style-type: circle;
  // }
}


@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}