.loader {
  min-height: 100vh;
  height: 100vh;
  width: 100vw;
  background: white;
  justify-content: center;
  align-items: center;
  display: flex;
}

.photography {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border-radius: 4px;
  color: black;

  >div {
    width: 100vh;
  }
}

.photo {
  max-height: inherit;
  max-width: 100%;
  object-fit: cover;
}

.photo-caption {
  margin: auto;
  position: absolute;
  bottom: 1em;
  color: white;
}

.photo-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100vh;
  position: relative;
  margin-bottom: 6em;
  margin-left: 4em;
  margin-right: 4em;
  overflow: auto;
}

.image {
  opacity: 0;
  transition: opacity 1s;
}

.image-loaded {
  opacity: 1;
}


@media only screen and (max-width: 600px) {

  .photography {
    display: block;
  }

  .photo-wrap {
    max-height: 100vh;
    max-width: 80vw;
  }

  .copy-link img {
    width: 2em!important;
    height: 2em!important;
  }
}

.copy-link {
  img {
    position: absolute;
    right: 10px;
    bottom: 1em;
    border-radius: 5px;
    width: 1.2em;
    height: 1.2em;
    cursor: pointer;
    background: white;
    opacity: .5;
  }
}

.copied-text {
  position: absolute;
  right: 2.5em;
  color: white;
  bottom: 1em;
}